* {
  margin:0;
  padding:0
}

nav {
  display:flex;
  justify-content: space-between;
  align-content: center;
  background-color: #7A9E7E;
  color:#331832;
}

nav > ul {
  display:flex;
  align-content: center;
}

.navLink {
  padding:1em;
  margin: .5em;
  list-style: none;
  text-decoration: none;
  background-color: #E8F1F2;
  color:#331832;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #E8F1F2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 4em;
  margin: 1em auto;
  background-color: #B3EFB2;
  border: .5em solid #7A9E7E;
}

.formContainer >h2 {
  text-align: center;
  margin-bottom: 1em;
}

.formElement{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
}

.formContainer >button {
  width:40%;
  align-self: center;
  margin-bottom: 1em auto;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width:80%;
  margin: 3em auto;
  padding: 5em;
  border: 1px solid black;
}